<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar muebles</title>
</head>
<body>
    <h1>Agregar muebles</h1>
    <form action="{{ url_for('muebles.add') }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"  required>
        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion"  required>
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio"  required>
        <label for="cantidad">Cantidad:</label>
        <input type="text" id="cantidad" name="cantidad"  required>
        
        <button type="submit">Agregar cantidad</button>
    </form>
</body>
</html>
