<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inventario de materiales</title>
</head>
<body>
    <h1>Lista de Materiales</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Costo</th>
            <th>Cantidad</th>
            
        </tr>
        {% for materiales in data %}
            <tr>
                <td>{{ materiales.id }}</td>
                <td>{{ materiales.nombre }}</td>
                <td>{{ materiales.tipo }}</td>
                <td>{{ materiales.costo }}</td>
                <td>{{ materiales.cantidad }}</td>
                <td>
                    <a href="{{ url_for('materiales.edit', id=materiales.id) }}">Editar</a>
                    <a href="{{ url_for('materiales.delete', id=materiales.id) }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('materiales.add') }}">Agregar Materiales</a>
</body>
</html>
