<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar detalleventa</title>
</head>
<body>
    <h1>Agregar detalleventa</h1>
    <form action="{{ url_for('detalleventa.add') }}" method="post">
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio"  required>
          
        <button type="submit">Agregar detalleventa</button>
    </form>
</body>
</html>
