<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inventario de proveedor</title>
</head>
<body>
    <h1>Lista de Proveedor</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            
        </tr>
        {% for proveedor in data %}
            <tr>
                <td>{{ proveedor.id }}</td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>{{ proveedor.correo }}</td>
                <td>
                    <a href="{{ url_for('proveedor.edit', id=proveedor.id) }}">Editar</a>
                    <a href="{{ url_for('proveedor.delete', id=proveedor.id) }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('proveedor.add') }}">Agregar Proveedor</a>
</body>
</html>
