<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Compras</title>
</head>
<body>
    <h1>Editar Compras</h1>
    <form action="{{ url_for('compras.edit', id=compras.id) }}" method="post">
        
        <label for="fecha">Fecha:</label>
        <input type="text" id="fecha" name="fecha value=" value="{{ compras.fecha }}" required>
        <label for="total">Total:</label>
        <input type="text" id="total" name="total" value="{{ compras.total }}" required>
        
        <button type="submit">Actualizar compras</button>
    </form>
</body>
</html>
