<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inventario de Compras</title>
</head>
<body>
    <h1>Lista de Compras</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Total</th>
        
            
        </tr>
        {% for compras in data %}
            <tr>
                <td>{{ compras.id }}</td>
                <td>{{ compras.fecha }}</td>
                <td>{{ compras.total }}</td>
                <td>
                    <a href="{{ url_for('compras.edit', id=compras.id) }}">Editar</a>
                    <a href="{{ url_for('compras.delete', id=compras.id) }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('compras.add') }}">Agregar Compras</a>
</body>
</html>
